{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block topbar %}{% endblock %}

{% block content %}
    
{% if token_fail %}

{% url 'account_reset_password' as passwd_reset_url %}

	<div class="web_notice_header">
		<h3>Security Website Notice</h3>
	</div>
	<div class="web_notice_body">
		<p><legend>{% trans "Change Password" %}: {% trans "Bad Token" %}</legend></p>
		<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  
		Please request a <!-- <a href="{{ passwd_reset_url }}"> -->new password reset<!-- </a> -->. {% endblocktrans %}</p>
	</div>

{% else %}
{% if form %}

	<div class="web_notice_header">
		<h3>Security Website Notice</h3>
	</div>
	<div class="web_notice_body">
		<div class="center_notice_form">
			<legend>{% trans "Change Password" %}</legend>

			<form method="POST" action="" class="uniForm">
			  {% csrf_token %}
			  {{form|bootstrap}}
			  <div class="form-actions">
			    <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
			  </div>
			</form>
		</div>
	</div>

{% else %}

<p>{% trans 'Your password is now changed.' %}</p>

{% endif %}
{% endif %}

{% endblock %}
